{% extends 'baseLight.html.twig' %}
{% block body %}
    <div class="container">
        <h4>Profil utilisateur:</h4>
        <p><b>Identifiant :</b> {{ app.user.id }}</p>
        <p><b>Pseudo :</b> {{ app.user.username }}</p>
        <p><b>Email :</b> {{ app.user.email }}</p>
        <p><b>Clé d'Api :</b> {{ app.user.apiKey }} {{ form_start(regenerate_api_key) }}<button class="btn btn-primary">Régénérer ma clé d'Api</button></p>{{ form_end(regenerate_api_key) }}
    </div>
    <hr>
    <div class="container">
        <p>
            <button id="btn-modify" class="btn btn-warning" href="#Modification" title="Modifier ses informations">Modifier mon compte</button>
        </p>
        <div id="edit">
            <div class="container">
                <div class="row">
                    <h1>Modifier mon profil</h1>
                    <div class="container form-group">
                        {{ form_start(edit_form) }}
                        {{ form_row(edit_form.username, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(edit_form.email, {'attr': {'class': 'form-control'}}) }}
                        <br><button type="submit" class="btn btn-info">Envoyer</button>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#edit').hide();
        $('#btn-modify').click(function() {
            $('#edit').toggle();
        })
    </script>
{% endblock %}