{% extends 'baseLight.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <h1>Formulaire de connexion</h1>
            <div class="container form-group">
                {{ form_start(loginForm, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_errors(loginForm) }}
                {{ form_row(loginForm.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(loginForm.password, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(loginForm._remember_me) }}
                <button type="submit" class="btn btn-info">Se connecter</button>
                {{ form_end(loginForm) }}
            </div>
        </div>
    </div>

{% endblock %}