{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <h2>{{ phone.name }}</h2><br>
        <div class="row">
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <img class="rounded-circle img-fluid d-block mx-auto" src="{{ asset('') }}" alt="">
                    <p><b>Marque</b>: {{ phone.mark }}</p>
                    <p><b>Version du système</b>: {{ phone.systemVersion }}</p>
                    <p><b>Memoire</b>: {{ phone.memory }}</p>
                    <p><b>Couleur</b>: {{ phone.color }}</p>
                    <p><b>Prix</b>: {{ phone.price }}€</p>
                    <p><b>Description</b>: {{ phone.description }}</p>
                </div>
        </div>
    </div>

{% endblock %}